### Multi indexing in pandas

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("HousePrices.csv", parse_dates = True)

In **pandas**, `parse_dates=True` tells `read_csv()` to **automatically detect and convert date-like columns into `datetime` objects**.

---

## What happens without `parse_dates`

Date columns are read as **strings (`object` dtype)**:

```python
df = pd.read_csv("HousePrices.csv")
df.dtypes
```

```
sale_date    object
price         int64
```

---

## With `parse_dates=True`

```python
df = pd.read_csv("HousePrices.csv", parse_dates=True)
df.dtypes
```

```
sale_date    datetime64[ns]
price                 int64
```

* Pandas **tries to infer** which columns look like dates
* Converts them to `datetime64[ns]`

---

## Why this is useful

Once columns are datetime:

* Easy date filtering
* Time-based indexing
* Extract year, month, day, etc.
* Faster and safer date operations

Example:

```python
df['sale_date'].dt.year
df[df['sale_date'] > '2022-01-01']
```

---

## Important limitations ‚ö†Ô∏è

* `parse_dates=True` **guesses** date columns
* It may **fail or parse incorrectly** for:

  * Non-standard date formats
  * Mixed date formats
* It can slightly **slow down** reading large files

---

## Better / safer usage (recommended)

### Specify exact columns

```python
df = pd.read_csv(
    "HousePrices.csv",
    parse_dates=['sale_date']
)
```

### Multiple date columns

```python
parse_dates=['sale_date', 'listing_date']
```

---

## Custom date formats

```python
df = pd.read_csv(
    "HousePrices.csv",
    parse_dates=['sale_date'],
    date_parser=lambda x: pd.to_datetime(x, format='%d-%m-%Y')
)
```

---

## Summary

* `parse_dates=True` = **auto-convert date columns**
* Makes date operations easier and safer
* Best practice: **explicitly list date columns**

If you want, I can show a quick comparison example with filtering or grouping by date üìÖ

In [8]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [11]:
# Create a multilevel index usiing city and date
df.set_index(['city', 'date'])   # pass the index

,,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,statezip,country
city,date,,,,,,,,,,,,,,,,
Shoreline,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,WA 98133,USA
Seattle,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,WA 98119,USA
Kent,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,WA 98042,USA
Bellevue,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,WA 98008,USA
Redmond,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Seattle,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,WA 98133,USA
Bellevue,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,WA 98007,USA
Renton,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,WA 98059,USA
Seattle,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,WA 98178,USA
Covington,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,WA 98042,USA

In [13]:
df.set_index(['city', 'date'], inplace=True)

In [15]:
df.index

MultiIndex([(   'Shoreline', '2014-05-02 00:00:00'),
            (     'Seattle', '2014-05-02 00:00:00'),
            (        'Kent', '2014-05-02 00:00:00'),
            (    'Bellevue', '2014-05-02 00:00:00'),
            (     'Redmond', '2014-05-02 00:00:00'),
            (     'Seattle', '2014-05-02 00:00:00'),
            (     'Redmond', '2014-05-02 00:00:00'),
            ('Maple Valley', '2014-05-02 00:00:00'),
            (  'North Bend', '2014-05-02 00:00:00'),
            (     'Seattle', '2014-05-02 00:00:00'),
            ...
            (      'Renton', '2014-07-08 00:00:00'),
            (     'Seattle', '2014-07-08 00:00:00'),
            ( 'Federal Way', '2014-07-08 00:00:00'),
            (      'Auburn', '2014-07-08 00:00:00'),
            (        'Kent', '2014-07-09 00:00:00'),
            (     'Seattle', '2014-07-09 00:00:00'),
            (    'Bellevue', '2014-07-09 00:00:00'),
            (      'Renton', '2014-07-09 00:00:00'),
            (     'Seattle', '2014-07-10 00:00:00'),
            (   'Covington', '2014-07-10 00:00:00')],
           names=['city', 'date'], length=4600)

#### Let's look at accessing multi index data frames
This can be done using the dot Lock method

In [19]:
# choose 'Seattle'
df.loc['Seattle']

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,statezip,country
date,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,WA 98119,USA
2014-05-02 00:00:00,4.900000e+05,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,WA 98115,USA
2014-05-02 00:00:00,6.400000e+05,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,WA 98115,USA
2014-05-02 00:00:00,1.400000e+06,4.0,2.50,2920,4000,1.5,0,0,5,1910,1010,1909,1988,3838-4098 44th Ave NE,WA 98105,USA
2014-05-02 00:00:00,3.650000e+05,3.0,1.00,1090,6435,1.0,0,0,4,1090,0,1955,2009,2504 SW Portland Ct,WA 98106,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-07 00:00:00,4.060625e+05,2.0,1.00,1290,4650,1.0,0,0,4,1290,0,1906,1990,312 NE 81st St,WA 98115,USA
2014-07-07 00:00:00,4.868950e+05,3.0,1.00,1890,3330,1.5,0,0,4,1390,500,1901,0,4324 Dayton Ave N,WA 98103,USA
2014-07-08 00:00:00,3.961667e+05,3.0,1.75,1880,5752,1.0,0,0,4,940,940,1945,0,3529 SW Webster St,WA 98126,USA
2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,WA 98133,USA
2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,WA 98178,USA

This return the data frame that contains values only of Seattle

In [22]:
df.loc['Seattle'].loc['2014-05-02 00:00:00']

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,statezip,country
date,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,WA 98119,USA
2014-05-02 00:00:00,490000.0,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,WA 98115,USA
2014-05-02 00:00:00,640000.0,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,WA 98115,USA
2014-05-02 00:00:00,1400000.0,4.0,2.50,2920,4000,1.5,0,0,5,1910,1010,1909,1988,3838-4098 44th Ave NE,WA 98105,USA
2014-05-02 00:00:00,365000.0,3.0,1.00,1090,6435,1.0,0,0,4,1090,0,1955,2009,2504 SW Portland Ct,WA 98106,USA
2014-05-02 00:00:00,1200000.0,5.0,2.75,2910,9480,1.5,0,0,3,2910,0,1939,1969,3534 46th Ave NE,WA 98105,USA
2014-05-02 00:00:00,750000.0,3.0,1.75,2240,10578,2.0,0,0,5,1550,690,1923,0,3225 NE 92nd St,WA 98115,USA
2014-05-02 00:00:00,626000.0,3.0,2.25,1750,1572,2.5,0,0,3,1470,280,2005,0,3140 Franklin Ave E,WA 98102,USA
2014-05-02 00:00:00,495000.0,4.0,1.75,1600,6380,1.0,0,0,3,1130,470,1959,1989,2021 NE 100th St,WA 98125,USA
2014-05-02 00:00:00,615000.0,3.0,1.75,2360,7291,1.0,0,0,4,1360,1000,1948,0,8436-8438 41st Ave SW,WA 98136,USA
2014-05-02 00:00:00,790000.0,3.0,2.50,2600,4750,1.0,0,0,4,1700,900,1951,1999,3314 NW 75th St,WA 98117,USA
2014-05-02 00:00:00,650000.0,4.0,2.00,1820,5000,1.5,0,1,3,1640,180,1945,2010,7201-7399 55th Ave NE,WA 98115,USA
2014-05-02 00:00:00,440000.0,2.0,1.00,800,4850,1.0,0,0,4,800,0,1944,0,4801-4899 6th Ave NW,WA 98107,USA
2014-05-02 00:00:00,750000.0,3.0,2.50,2390,6550,1.0,0,2,4,1440,950,1955,2009,3628 59th Ave SW,WA 98116,USA
2014-05-02 00:00:00,439950.0,3.0,2.50,1770,2875,2.0,0,0,3,1770,0,1990,2009,4458 51st Ave SW,WA 98116,USA
2014-05-02 00:00:00,235000.0,2.0,1.00,1210,9400,1.0,0,0,2,1210,0,1949,0,7542 21st Ave SW,WA 98106,USA
2014-05-02 00:00:00,445700.0,3.0,2.50,1270,1180,3.0,0,0,3,1270,0,2001,0,2640 NW 56th St,WA 98107,USA
2014-05-02 00:00:00,805000.0,3.0,2.00,2710,4500,1.5,0,0,4,1880,830,1929,0,6222 30th Ave NE,WA 98115,USA
2014-05-02 00:00:00,385000.0,3.0,3.25,1320,1327,2.0,0,0,3,1040,280,2008,0,3400 21st Ave W,WA 98199,USA
2014-05-02 00:00:00,295000.0,2.0,2.50,1630,1368,2.0,0,0,3,1280,350,2009,0,5944-6082 Delridge Way SW,WA 98106,USA
2014-05-02 00:00:00,436110.0,3.0,2.50,1770,1235,3.0,0,0,3,1600,170,2007,0,1156 N 93rd St,WA 98103,USA

This return the data frame that is of Seattle. And the date is this (2014-05-02 00:00:00)