## Working with text Data

In [2]:
import pandas as pd

In [4]:
text = pd. Series ( ['Lorem', 'ipsum', 'dolor', 'sit',
'amet', 'consectetur', 'adipiscing', 'elit' ]
, dtype='string' )

In [6]:
# Invoke str.upper() method and see the output:
text.str.upper()

0          LOREM
1          IPSUM
2          DOLOR
3            SIT
4           AMET
5    CONSECTETUR
6     ADIPISCING
7           ELIT
dtype: string

Split the text used in the previous example, with 'e' as parameter

In [8]:
text.str.split('e')

0           [Lor, m]
1            [ipsum]
2            [dolor]
3              [sit]
4            [am, t]
5    [cons, ct, tur]
6       [adipiscing]
7            [, lit]
dtype: object

An entire pandas series can be concatenated into a long string using the cat() method.

Let's take the earlier example and invoke the cat() method with separator as space.

In [10]:
text.str.cat(sep=' ')

'Lorem ipsum dolor sit amet consectetur adipiscing elit'